/*Estilos generales para Glaciares UNAHUR*/
:root {
    --verde-call-to-action: #2E7D32;
    --gris-texto: #4A4A4A;
    --fondo-general: #E6F2F8;
    --fondo-secundario: #ABCDE1;
    --seccion-clave: #2D7D9D;
    --encabezado-destacado: #1E5ABA; 
}

/* Reset para eliminar todos los márgenes y rellenos predeterminados*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Pegar en el head antes de linkear al archivo styles.css para importar los tipos de letras:
Para vincular pegar abajo del anterior:
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
*/

/* ESTILOS GLOBALES Y BODY (Tipografía y Estructura Global) */

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--fondo-general);
    color: var(--gris-texto);
    margin: 0 auto;
    max-width: 100%;    
    padding: 0 1rem; 
}

/*Estilos para la barra de navegación*/

header {
    background-color: var(--fondo-secundario);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo a img {
    width: 192.5px;
    height: 65px;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
}

/*ESTILOS GLOBALES SECCIONES DE CONTENIDO (section, article, párrafos)*/

p {
    font-family: 'Lato', sans-serif;
    text-align: start;
    font-size: 18px;
    line-height: 1.8;
    color: var(--gris-texto);
    padding-left: 1.5rem;
    margin-bottom: 20px; 
}

article {
    background-color: white;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Estilos diferenciados para headings */

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--encabezado-destacado);
}

h1{font-size: 2.2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.5rem;}

/* FORMULARIOS (Contacto)  */

#form-contacto{
    background-color: #FFFFFF;  /* BLACO PARA QUE RESALTE*/
    padding: 30px;
    border-radius: 8px;
    border-left: 8px solid var(--seccion-clave);  /*HACE UN DETALLE DE COLOR A LA IZQUIERDA*/
    max-width: 600px;
    margin: 20px auto;
}

input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--fondo-secundario);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

/* Botón de acción con el verde de la paleta */

button{
    background-color: var(--verde-call-to-action); 
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;    
    padding: 10px 25px;
    border: #FFFFFF;
    border-radius: 25px;
}

button:hover {
    background-color: #1b5e20;       /* Efecto hover interactivo */
}

.img-tarjeta {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(11, 84, 168, 0.596); /* Hace sombra a las imágenes */
    display: block;
    margin: 15px 0;
}


