/*Estilos generales para Glaciares UNAHUR*/
:root {
    --verde-call-to-action: #2E7D32;
    --gris-texto: #4A4A4A;
    --fondo-general: #E6F2F8;
    --fondo-secundario: #ABCDE1;
    --seccion-clave: #2D7D9D;
    --encabezado-destacado: #1E5ABA; 
}

/* Reset para eliminar todos los márgenes y rellenos predeterminados*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Pegar en el head antes de linkear al archivo styles.css para importar los tipos de letras:
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
Para vincular pegar abajo del anterior:
<link rel="stylesheet" href="css/contacto.css">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/contacto.css">

*/

body{
    font-family: 'Lato', sans-serif;
    background-color: var(--fondo-general);
    color: var(--gris-texto);
    line-height: 1.6;
    margin: 0;     /* No sé cómo hacer para que las palabras no estén pegadas al borde izquierdo (PREGUNTAR) */
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--encabezado-destacado);
}

#form-contacto{
    background-color: #FFFFFF;  /* BLACO PARA QUE RESALTE*/
    padding: 30px;
    border-left: 8px solid var(--seccion-clave);  /*HACE UN DETALLE DE COLOR A LA IZQUIERDA*/
    max-width: 600px;
    margin: 20px auto;
    
}

button{
    background-color: var(--verde-call-to-action);  /* Verde (O podemos poner el mismo celeste #1E5A8A) */
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;    /*NO ESTOY SEGURA DE LO QUE HACE*/
    padding: 10px 25px;
    border: #FFFFFF;
}